/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/home.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.home_container__2nSFh{
    display: flex;
    height: calc(40vh);
    gap:100px;
}

.home_textContainer__1ljkg{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.home_title__jKRy7{
    font-size: 50px;
}

.home_imgContainer__uuBJb{
    flex: 1 1;
    position: relative;
}

