/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/add-notes/addNotes.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.addNotes_container__y_8pA{
    display: flex;
    height: calc(40vh);
    gap:100px;
}

.addNotes_formContainer__cVVpO {
    flex: 1 1;

}

.addNotes_form__qVr0z {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.addNotes_imgContainer__m6wQZ{
    flex: 1 1;
    position: relative;
}



